body {
    background-color: #F3F4F8;
}

header {
    display: flex;
    /*margin-top: -20px;*/
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar {
    margin-top: 40px;
    margin-left: 250px;
    display: flex;
    list-style-type: none;

}

.menu_text {
    position: relative;
    font-family: "Raleway";
    font-size: 30px;
    color: #00000075;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.5s ease;
}

.menu_text:hover {
    color: #183552;
    cursor: pointer;
}

hr {
    background-color: #C4C5C8;
    height: 3px;
    width: 700px;
    margin-left: 360px;
    margin-top: -20px;
}

.logo {
    margin-left: 170px;
    margin-top: 20px;
    position: relative;
}

.draw {
    margin-top: -210px;
}


.ill{
    display: flex;
    margin-top: -1850px;
   margin-left: 50px;
}
.ill_item{
    margin-left: 200px;
    margin-top: 79px;
}

.text_head{
    position: relative;
    line-height: 70px;
    font-family: "Raleway";
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 0.05em;
    left: 70px;
    top: 150px;
    color: #525A5F;
}

.quote {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 34px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #969699;
    margin-top: 120px;
}