body {
    background-color: #F3F4F8;
}

header {
    display: flex;
    /*margin-top: -20px;*/
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar {
    margin-top: 90px;
    margin-left: 250px;
    display: flex;
    list-style-type: none;

}

.menu_text {
    position: relative;
    font-family: "Raleway";
    font-size: 30px;
    color: #00000075;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 1s ease;
}

.menu_text:hover {
    color: #183552;
    cursor: pointer;
}

hr {
    background-color: #C4C5C8;
    height: 3px;
    width: 700px;
    margin-left: 360px;
    margin-top: -20px;
}

.logo {
    margin-left: 170px;
    margin-top: 20px;
    position: relative;
}

.draw {
    margin-top: -300px;
    position: static;
}

/*.ill{
    display: flex;
    margin-top: -1800px;
   margin-left: 50px;
}*/
.ill {
    display: flex;
    margin-top: -1900px;
    margin-left: 20px;
}

/*.text_head{
    position: relative;
    line-height: 70px;
    font-family: "Raleway";
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 0.05em;
    right: 190px;
    top: 80px;
    color: #525A5F;
}*/
.text_head {
    position: relative;
    line-height: 70px;
    font-family: "Raleway";
    font-size: 47px;
    text-align: center;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 0.05em;
    top: 100px;
    color: #525A5F;
}

.quote {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #969699;
}